*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
header {
    height: 351px;
    background: url(../img/background-image-3325335_1280.webp) no-repeat;
    background-size: cover;
    background-position: center;  
    position: relative;
}

header>a>img:last-child {
    width: 323px;
    height: 326px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
body>header>#burger>img:first-child {
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    top: 10px;
    right: 10px; 
}

header>nav>ul {
    list-style-type: none;
    position: absolute;
    display: block;
    right: 10px;
    top: 50px;
    background-color: #EDC86E;
}
.main-menu > ul > li > a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-family: 'Comfortaa', sans-serif;
    color: #222;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
}
body>header>.main-menu {
    display: none;
}
body>header>.main-menu>a:first-child {
    color: #EDC86E;
    position: absolute;
    top: 30px;
    right: 180px;
}

main>.navmain {
    height: 80px;
    background-color: black;
}
        
    
main>.navmain> .main-menu1 > ul > li > a {
        display: block;
        height: 100%;
        line-height: 80px;
        padding: 0 15px;
        font-family: 'Comfortaa', sans-serif;
        color: #EDC86E;
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: uppercase;
        white-space: nowrap;
    }
main > .navmain > .main-menu1 > ul {
        list-style-type: none;
        display: flex; 
        justify-content: space-around; 
        align-items: center;
        height: 100%; 
        margin: 0;
        padding: 0;
    } 
main >.navmain>.main-menu1 > ul > li {
        margin: 0;
    }  
main {    
        background-color: black;
        height: 100%;
    }
body>main>.titre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
body>main>.titre>img{
        width: 322px;
        height: auto;
    }
main>.titre>h1 {
        color: #EDC86E;
        font-size: 30px;
        font-family: 'Comfortaa', sans-serif;      
    }
main>#souscontact>#formulaire {
    background-image: url(../img/chouette.jpg);
    width: 523px;
    height: 900px;
    margin: 60px;
    border-radius: 15px;
    margin-right: 20%;
    
}
main>#souscontact>#formulaire>p {
    text-transform: uppercase;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding: 50px;
}
body>main>#souscontact>#formulaire>.encart{
    width: 302px;
    height: 45px;
    background-color: #EDC86E;
    border-radius: 15px;
    margin: 0 auto;   
}

body>main>#souscontact>#formulaire>.encart>p {
    color: #000;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: 650;
    margin-top: 80px;
}
body>main>#souscontact>#formulaire>.encart1 {
    width: 300px;
    height: 182px;
    background-color: #EDC86E;
    border-radius: 15px;
    margin: 30px auto;

}
body>main>#souscontact>#formulaire>.encart1>p{
    color: #000;
    font-family: 'Comfortaa', sans-serif;
    padding: 10px 10px;
    font-weight: bold;
}
main>#souscontact>#grille {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}
main>#souscontact>#grille>.block>img {
    width: 50px;
    height: 50px;
    
}
main>#souscontact>#grille>.block{
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    margin-right: 30px;
    margin-top: 60px;
    white-space: nowrap;
}
main>#souscontact>#grille>.iframe-container {
    grid-column: 1/3;
    margin: 60px 0 0;
}

main>#souscontact>#grille>.block>p {
    color: #000;
    font-size:20px ;
    font-weight: 900;
}
main>#souscontact {
    display: flex;
    justify-content: center;
}
main>h1 {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Comfortaa', sans-serif;
    color: #EDC86E;
    text-align: center;
    margin: 60px 600px;
    border-left: 10px #EDC86E double;
    border-right: 10px #EDC86E double;
    border-bottom: 10px #EDC86E double;
    border-top: 10px #EDC86E double;
}
main>#block>.carreJaune {
    width: 60px;
    height: 60px;
    background-color: #EDC86E;
    border-radius: 10px;
    display: flex;
    margin-bottom: 60px;
}
main>#block>.carreJaune>img {
    width: 60px;
    height: 60px;
}
main>#block { 
    display: inline-block;  
    margin-top: 60px;
    margin-left: 10px;
}
body>header>.main-menu > ul > li:hover > a {
    color: #85F5E1;
}
@media screen and (max-width:1641px ){
    .main-menu1 {
        display: none;
    }
    #souscontact {
        flex-direction: column;
        margin: 15px
    }
    main>h1 {
        display: none;  
    }
    main>#souscontact>#formulaire {
        display: block;
        margin: 10px;
    }
    main>#block {
        margin-top: 450px;
    }
    header>nav>ul {
        z-index: 5555;
    }
    body>header>.main-menu>a:first-child {
        z-index: 5555;
    }

}