*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.row-iimit-size {
    min-width: 430px;
    width: 100%;
    height: auto;
}
.flex {
    display: flex;
}
#head{
    height: 300px;
    width: 430px;
    background: url(../img/background-image-3325335_1280.webp);
    background-size: cover;
    position: absolute;
}
.main-menu {
    display: none;
}
body>header>.main-menu>ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 160px; 
    list-style-type: none;
}
body>header>.main-menu > ul > li {
    padding-bottom: 40px;
}

body>header>.main-menu > ul > li > a {
    display:block;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    font-family: 'Comfortaa', sans-serif;
    color: #EDC86E;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    font-size: 12px;   
}
img {
    display: flex;
}
#burger {
    cursor: pointer;   
}

#burger>img {
    width: 30px;
    height: 30px;
    padding-left: 400px;
}
body>header>.main-menu>.close {
    position: absolute;
    top: 0;
    padding-left: 270px;
    color: #EDC86E;
    cursor: pointer;
    
}
header>nav>.close>.carreJaune>img {
    width: 20px;
    height: 20px;
}
body>header>.main-menu>.close>.carreJaune {
    width: 20px;
    height: 20px;
    background-color: #EDC86E;
   
}
#head>img:last-child {
    width: 200px;
    height: 200px;
    padding-left: 230px;
    padding-top: 70px;
}

main {
    height: 1400px;
    width: 430px;
    background-color: black;
    position: absolute;
    margin-top:300px;

}
.titre {
    padding-top: 30px;
}

.titre>img {
    width: 95px;
    height: 31px;
    margin: 0 auto;
}
main>.titre>h1 {
    font-size: 15px;
    color: #EDC86E;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}
#grille {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    
}
body>main>#grille>.block>.carreJaune {
    width: 30px;
    height: 30px;
    background-color: #EDC86E;
    
}
body>main>#grille>.block>.carreJaune>img {
    width: 30px;
    height: 30px;
    display: block;
    
}
body>main>#grille>.block>p {
    font-size: 15px;
    font-family: 'Comfortaa', sans-serif;
    color: #EDC86E;
    
    
}
.block {
    padding-top: 10px;
}
body>main>.formulaire{ /* je n'arrive pas à le centrer*/
    padding-top: 30px;
}
body>main>.formulaire>.encart {
    width: 162px;
    height: 45px;
    background-color: #EDC86E;
    border-radius: 15px;
    margin-top: 20px;
}
body>main>.formulaire>.encart>p {
    color: #000;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: 650;
}
body>main>.formulaire>.encart1 {
    width: 300px;
    height: 182px;
    background-color: #EDC86E;
    border-radius: 15px;
    margin-top: 20px; 
    margin-bottom: 20px;

}
body>main>.formulaire>.encart1>p{
    color: #000;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: 650;
}
body>main>.carte {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
body>main>h1 {
    font-size: 15px;
    color: #EDC86E;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
}
body>main>.carreJaune {
    width: 30px;
    height: 30px;
    background-color: #EDC86E;
    margin-top: 30px;
}
body>main>.carreJaune>img {
    width: 30px;
    height: 30px;
    display: block;
}
main>.block>.carreJaune {
    width: 30px;
    height: 30px;
    background-color: #EDC86E;
    border-radius: 10px;
    display: flex;
}
main>.block>.carreJaune>img {
    width: 30px;
    height: 30px;
}
main>.block { /* ça veut pas s'aligner */
    display: inline-block;  
    margin-top: 60px;
    margin-left: 10px;   
}
body>header>.main-menu > ul > li:hover > a {
    color: #85F5E1 ;
}





