*{
    margin: 0;
    padding: 0;
}

.row-iimit-size {
    min-width: 430px;
    width: 100%;
    height: auto;
}
.flex {
    display: flex;

}
#head{
    height: 300px;
    width: 430px;
    background: url(../img/background-image-3325335_1280.webp);
    background-size: cover;
    position: absolute;
}
#MySidenav {
    height: 100%;
    width: 150px;
    z-index: 1;
    top: 0;
    background-color: #E5E8E8;
    padding-top: 30px;
    transition: left 0.5s ease;
    display: none;
}
#MySidenav>a{
    text-decoration: none;
    font-size: 12px;
    color: #000;
    transition: 0.3s;
}
#MySidenav>ul {
    list-style-type: none;
}

img {
    display: flex;
}
#burger {
    cursor: pointer;   
}

#burger>img {
    width: 30px;
    height: 30px;
    padding-left: 400px;
}
#head>img:last-child {
    width: 200px;
    height: 200px;
    padding-left: 230px;
    padding-top: 70px;
}

main {
    height: 1700px;
    width: 430px;
    background-color: black;
    position: relative;
    margin-top:300px;

}
.titre {
    padding-top: 30px;
}

.titre>img {
    width: 95px;
    height: 31px;
    padding-left: 35%;
}
main>.titre>h1 {
    font-size: 15px;
    color: #EDC86E;
    font-family: 'Comfortaa', sans-serif;
    margin: 0 auto;
    padding-left: 39%;
}
#grille {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    
}
body>main>#grille>.block>.carreJaune {
    width: 30px;
    height: 30px;
    background-color: #EDC86E;
    
}
body>main>#grille>.block>.carreJaune>img {
    width: 30px;
    height: 30px;
    display: block;
    
}
body>main>#grille>.block>p {
    font-size: 15px;
    font-family: 'Comfortaa', sans-serif;
    color: #EDC86E;
    
    
}
.block {
    padding-top: 10px;
}
body>main>.formulaire{ /* je n'arrive pas à le centrer*/
    padding-top: 30px;
}
body>main>.formulaire>.encart {
    width: 162px;
    height: 45px;
    background-color: #EDC86E;
    border-radius: 15px;
    margin-top: 20px;
}
body>main>.formulaire>.encart>p {
    color: #000;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: 650;
}
body>main>.formulaire>.encart1 {
    width: 300px;
    height: 182px;
    background-color: #EDC86E;
    border-radius: 15px;
    margin-top: 20px; 
    margin-bottom: 20px;

}
body>main>.formulaire>.encart1>p{
    color: #000;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: 650;
}
body>main>.carte {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
body>main>h1 {
    font-size: 15px;
    color: #EDC86E;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
}
body>main>.carreJaune {
    width: 30px;
    height: 30px;
    background-color: #EDC86E;
    margin-top: 30px;
}
body>main>.carreJaune>img {
    width: 30px;
    height: 30px;
    display: block;
}





