*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.row-iimit-size {
    min-width: 430px;
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
}

header {
    width: 100%;
    max-width: 430px;
}
#head{
    height: 300px;
    width: 430px;
    background: url(../img/background-image-3325335_1280.webp);
    background-size: cover;
    position: absolute;
    
}
.main-menu {
    display: none;
    position: relative;
}

body>header>.main-menu>ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative; 
}
body>header>.main-menu > ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    background-color: #000;

}

body>header>.main-menu > ul > li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-family: 'Comfortaa', sans-serif;
    color: #EDC86E;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px; 
    white-space: nowrap;    
}
header>.main-menu>ul>li>a {
    width: 80px;
}
body>header>nav>.clickable-area {
    display: inline-block;
}
img {
    display: flex;
}
#burger{
    position: relative;
}
#burger>img {
    width: 30px;
    height: 30px;
    padding-left: 400px;
}
 
body>header>.main-menu>.close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-left: 270px;
    color: #EDC86E;
    cursor: pointer;
    z-index: 5555;
    
}
header>nav>.close>.carreJaune>img {
    width: 20px;
    height: 20px;
}
body>header>.main-menu>.close>.carreJaune {
    width: 20px;
    height: 20px;
    background-color: #EDC86E;
   
}

#head>img:last-child {
    width: 200px;
    height: 200px;
    padding-left: 230px;
    padding-top: 70px;
}

main {
    height: 1000px;
    width: 430px;
    background-color: black;
    position: absolute;
    margin-top:300px;

}
.titre {
    padding-top: 30px;
}

.titre>img {
    width: 95px;
    height: 31px;
    margin: 0 auto;
}
main>.titre>h1 {
    font-size: 15px;
    color: #EDC86E;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}
main>figure>img{
    width: auto;
    height: 213px;
    margin: 0 auto;
    padding-top: 30px;
    
}
main>.blocktexte{
    width: 213px;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px 0;
}
main>.blocktexte>p{
    font-size: 10px;
    color: #000;
    font-family: 'Comfortaa', sans-serif;
    padding-top: 10px; 
    text-align: center;
}
main>.block>.carreJaune {
    width: 30px;
    height: 30px;
    background-color: #EDC86E;
    border-radius: 10px;
    display: flex;
}
main>.block>.carreJaune>img {
    width: 30px;
    height: 30px;
}
main>.block { 
    display: inline-block;  
    margin-top: 60px;
    margin-left: 10px;   /*pourquoi ils sont autant écartés?*/
}
body>header>.main-menu > ul > li:hover > a {
    color: #85F5E1 ;
}

