*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.row-iimit-size {
    min-width: 430px;
    width: 100%;
    height: auto;
}
.flex {
    display: flex;
}
#head{
    height: 300px;
    width: 430px;
    background: url(../img/background-image-3325335_1280.webp);
    background-size: cover;
    position: absolute;
}
.main-menu {
    display: none;
}
body>header>.main-menu>ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 110px; 
    list-style-type: none;
}
body>header>.main-menu > ul > li {
    padding-bottom: 40px;
    margin-left: 55px; /* ? */
}

body>header>.main-menu > ul > li > a {
    display:block;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    font-family: 'Comfortaa', sans-serif;
    color: #EDC86E;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    font-size: 12px;   
}
img {
    display: flex;
}
#burger {
    cursor: pointer;
   
}
#burger>img {
    width: 30px;
    height: 30px;
    padding-left: 400px;
}
body>header>.main-menu>.close {
    position: absolute;
    top: 0;
    padding-left: 270px;
    color: #EDC86E;
    cursor: pointer;
    
}
header>nav>.close>.carreJaune>img {
    width: 20px;
    height: 20px;
}
body>header>.main-menu>.close>.carreJaune {
    width: 20px;
    height: 20px;
    background-color: #EDC86E;
   
}
#head>img:last-child {
    width: 200px;
    height: 200px;
    padding-left: 230px;
    padding-top: 70px;
}
main {
    height: 1400px;
    width: 430px;
    background-color: black;
    position: absolute;
    margin-top:300px;
    

}
.titre {
    padding-top: 30px;
}

.titre>img {
    width: 95px;
    height: 31px;
    margin: 0 auto;
}
main>.titre>h1 {
    font-size: 15px;
    color: #EDC86E;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}
.size{
    font-size: 15px;
}
main>p {
    font-size: 10px;
    color: #EDC86E;
    padding: 30px 30px;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    
}

#grille {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
   
}
.block>img {
    width: 159px;
    height: 212px;
    padding-top: 30px;
    
}
.block {
    padding-left: 22px;
}
main>p {
    font-size: 10px;
    color: #EDC86E;
    padding-top: 30px;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}
.button {
    width: 113px;
    height: 31px;
    background-color: #EDC86E;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
}
.button>p {
    font-family:'Comfortaa', sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height:31px;
}
main>.block>.carreJaune {
    width: 30px;
    height: 30px;
    background-color: #EDC86E;
    border-radius: 10px;
    display: flex;
}
main>.block>.carreJaune>img {
    width: 30px;
    height: 30px;
}
main>.block { 
        display: inline-block;  
        margin-top: 60px;
        margin-left: 10px;  
}
body>header>.main-menu > ul > li:hover > a {
    color: #85F5E1 ;
}

