*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.row-iimit-size {
    min-width: 430px;
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
}
#head{
    height: 300px;
    width: 430px;
    background: url(../img/background-image-3325335_1280.webp);
    background-size: cover;
    position: absolute;
    
}
.main-menu {
    display: none;
}

body>header>.main-menu>ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 160px;
    position: relative; 
}
body>header>.main-menu > ul > li {
    padding-bottom: 40px;
   
}
body>header>.main-menu > ul {
    list-style-type: none;
}

body>header>.main-menu > ul > li > a {
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    font-family: 'Comfortaa', sans-serif;
    color: #EDC86E;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    font-size: 12px; 
    white-space: nowrap;    
}
header>.main-menu>ul>li>a {
    width: 80px;
}
body>header>nav>.clickable-area {
    display: inline-block;
}
img {
    display: flex;
}
#burger{
    position: relative;
}
#burger>img {
    width: 30px;
    height: 30px;
    padding-left: 400px;
}
 
body>header>.main-menu>.close {
    position: absolute;
    top: 0;
    padding-left: 270px;
    color: #EDC86E;
    cursor: pointer;
    
}
header>nav>.close>.carreJaune>img {
    width: 20px;
    height: 20px;
}
body>header>.main-menu>.close>.carreJaune {
    width: 20px;
    height: 20px;
    background-color: #EDC86E;
   
}

#head>img:last-child {
    width: 200px;
    height: 200px;
    padding-left: 230px;
    padding-top: 70px;
}

main {
    height: 1700px;
    width: 430px;
    background-color: black;
    position: absolute;
    margin-top: 300px;
   


}
body>main>#images {
    margin-top: 60px;
}
body>main>#images>img {
    width: 159px;
    height: 212px;
    margin: 0  auto;
    margin-top: 30px;
}
body>main>h1{
    display: block;
    color:  #EDC86E;
    font-size: 10px;
    text-align: center;
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Comfortaa', sans-serif;
}
.size{
    width: 159px;
    height: 212px;
}
.button {
    width: 113px;
    height: 31px;
    background-color: #EDC86E;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 10px;
}
.button>p {
    font-family:'Comfortaa', sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height:31px;
}
body>main>.block>.carreJaune {
    width: 30px;
    height: 30px;
    background-color: #EDC86E;
    border-radius: 10px;
    display: flex;
}
body>main>.block>.carreJaune>img {
    width: 30px;
    height: 30px;
}
body>main>.block {
        display: inline-block;  
        margin-top: 60px;
        margin-left: 10px;
}

body>header>.main-menu > ul > li:hover > a {
    color: #85F5E1;
}

